.comment {
  line-height: 1.5;
  position: absolute;
  transform: translateX(-1rem) translateY(-1rem);
}

.comment__marker {
  align-items: center;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  justify-content: center;
  text-align: center;
  transition: transform 0.25s ease-out;
  width: 2rem;
  will-change: transform;
}

.comment__marker:hover {
  transform: scale(1.1);
}

.comment__icon {
  width: 50%;
  margin: 25% 0;
}

.comment__box {
  background: white;
  color: black;
  display: none;
  left: 0;
  margin: 5%;
  max-height: 100vh;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

.comment__marker,
.comment__box {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.03);
}

.comment__close {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 1.25rem;
  margin: 0.25rem;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25rem;
}

.comment__close img {
  width: 100%;
}

.comment__box--open {
  display: block;
}

@media (min-width: 600px) {
  .comment__box {
    position: absolute;
    width: 300px;
    margin: 0;
    top: auto;
    left: auto;
    transform: none;
  }

  .comment__box--top-left {
    bottom: 100%;
    right: 100%;
  }

  .comment__box--top-right {
    bottom: 100%;
    left: 100%;
  }

  .comment__box--bottom-left {
    top: 100%;
    right: 100%;
  }

  .comment__box--bottom-right {
    top: 100%;
    left: 100%;
  }
}

.comment__user {
  color: darkgray;
  font-size: 0.8em;
  text-align: right;
}
